@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 125 46% 94%;
    --foreground: 125 25% 25%;
    --card: 0 0% 100%;
    --card-foreground: 125 25% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 125 25% 25%;
    --primary: 125 30% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 125 23% 85%;
    --secondary-foreground: 125 25% 25%;
    --muted: 125 23% 88%;
    --muted-foreground: 125 15% 55%;
    --accent: 49 88% 81%;
    --accent-foreground: 45 90% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 23% 78%;
    --input: 125 23% 88%;
    --ring: 125 30% 55%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 125 10% 10%;
    --foreground: 125 5% 95%;
    --card: 125 10% 15%;
    --card-foreground: 125 5% 95%;
    --popover: 125 10% 15%;
    --popover-foreground: 125 5% 95%;
    --primary: 125 30% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 125 15% 25%;
    --secondary-foreground: 125 5% 95%;
    --muted: 125 15% 25%;
    --muted-foreground: 125 10% 65%;
    --accent: 49 88% 81%;
    --accent-foreground: 45 90% 30%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 15% 25%;
    --input: 125 15% 25%;
    --ring: 125 30% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
